{% extends "theme.html" %}
{% load static %}

{% block content %}

<div class="container ">
    <form class="form-signin" method="POST" action='{% url 'SignupPage' %}' align='center' >
    {% csrf_token %}
         <img class="mb-4 " src="{% static 'sign.svg' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please signup</h1>
        <div class="container-fluid col-md-3">
            <label for="inputUsername" class="sr-only ">User name</label>
            <input type="text" name="用户名" class="form-control" placeholder="User name" required autofocus >
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="密码" class="form-control" placeholder="Password" required >
            <label for="inputPasswordAgain" class="sr-only">Password</label>
            <input type="password" name="确认密码" class="form-control" placeholder="Password_Again" required >
            {{  Username_error }}
            {{  Pass_Wrong }}
            <br>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Signup</button>
         </div>
    </form>
</div>

{% endblock content %}