{% extends "theme.html" %}

{% block content %}

 <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">百度云分享<br>
        <small>让美好永远陪伴</small>
      </h1>

      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://pan.baidu.com/s/1rPP6lSlWo_H0_i6dJxN2Jg"><img class="card-img-top" src="https://i.loli.net/2018/12/15/5c13e4b40803d.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://pan.baidu.com/s/1rPP6lSlWo_H0_i6dJxN2Jg">MATLAB 2014b 64位</a>
              </h4>
              <p class="card-text" >MATLAB是美国MathWorks公司出品的商业数学软件，用于算法开发、数据可视化、数据分析以及数值计算的高级技术计算语言和交互式环境。</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://pan.baidu.com/s/1CptA1zS1R_-9z5V9LJZkpA"><img class="card-img-top" src="https://i.loli.net/2018/12/15/5c13e4b82ae73.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://pan.baidu.com/s/1CptA1zS1R_-9z5V9LJZkpA">iStat Menus 6 Mac系统监控软件</a>
              </h4>
              <p class="card-text">iStat Menus for mac是一款Mac OS电脑硬件信息监控软件，提供的信息包括 CPU 使用情形、内存用量、硬盘使用情形、网络传输、机器温度、风扇转速等等。</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://pan.baidu.com/s/1eUdMEdcImcLOW6XGiLt8wg"><img class="card-img-top" src="https://i.loli.net/2018/12/15/5c13e4c2cda19.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://pan.baidu.com/s/1eUdMEdcImcLOW6XGiLt8wg">TensorFlow GPU cuda+cudnn9.0</a>
              </h4>
              <p class="card-text">搭建TensorFlow GPU所需要的两个包</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
          <div class="card h-100">
            <a href="https://pan.baidu.com/s/1IN97anu0-fUcNV3sEIG69g"><img class="card-img-top" src="https://i.loli.net/2018/12/15/5c13e49a4fded.jpg" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="https://pan.baidu.com/s/1IN97anu0-fUcNV3sEIG69g">机器学习资料</a>
              </h4>
              <p class="card-text">提取码: cu3r</p>
            </div>
          </div>
        </div>


      </div>
      <!-- /.row -->

      <!-- Pagination -->
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>

    </div>
    <!-- /.container -->

{% endblock %}


